{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
 <div>
 <h1>Boise State University Codelab</h1>
 </div>
 <div>
 <nav>
  <ul>
   <li> <a href="/list">home</a> </li>
   <li> <a href="/about">about</a> </li>
   <li> <a href="/privacy">privacy</a> </li>
   <!--
   <li> <a href="/stats">stats</a> </li>
   <li> <a href="/debug/pprof">profiling data</a> </li>
   -->
  </ul>
 </nav>
 </div>
 <hr>
{{end}}
