{{define "new"}}
{{template "header"}}
<div>
 <p id="status">Building your container...</p>
</div>
<script>
function sleep(ms) {
 return new Promise((resolve) => setTimeout(resolve, ms));
}
var containerID = {{.ID}};
xhr = new XMLHttpRequest();
xhr.open("GET", url, true);
var url = "/status?"+containerID;
var i = 0;
var respCode = 0;
xhr.onreadystatechange = function () {
 respCode = xhr.status;
}
// max time of 10 * 500 = 5000ms
for(i = 0; i < 10 && respCode != 200; i++) {
 if(respCode === 200) {
  console.log("found container.");
  document.getElementById("status").innerHTML = "Container built!, Redirecting...";
 }
 console.log("waiting for container...");
 var n = i % 3;
 var ellipsis = ".".repeat(i % 3)
 document.getElementById("status").innerHTML = "Building your container" + ellipsis;
 sleep(500).then(() => {});
}
window.location = "{{.Path}}?token={{.Token}}&ping";
</script>
{{template "footer"}}
{{end}}
