{{define "new"}}
{{template "header"}}
<div>
 <p id="status">Building your container...</p>
</div>
<script>
var containerID = {{.ID}};
xhr = new XMLHttpRequest();
//var url = "/status?"+containerID+"&ping";
var url = "/status?"+containerID;
xhr.open("GET", url, true);
var i = 0;
var respCode = 0;
xhr.send(url);
xhr.onreadystatechange = function () {
 if(xhr.status === 200) {
  console.log("container built");
  var link = "<a href={{.Path}}?token={{.Token}}>Click here to launch your container</a>";
  document.getElementById("status").innerHTML = link;
 }
}
setTimeout(xhr.onreadystatechange, 5000);
</script>
{{template "footer"}}
{{end}}
